
/*--------------------------------------*/

/* nav bar */

nav {
  padding-top: 30px;
  height: 35px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: black;
}

ul {
  list-style-type: none;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  background-color: black;
  color: #ca8f42;
  text-transform: uppercase;
  text-decoration: none;
  font-family: Verdana, Geneva, sans-serif;
  padding: 5.5px;
  text-align: center;
  font-size: 0.938em;
  letter-spacing: 3px;
  width: 125px;
}

ul li a:hover {
  color: black;
  background-color: #cc0c2f;
/*  opacity: .5;*/
}

.nav-right {
  float: right;
/*  width: 50%;*/
  text-align: right;
  margin-top: 8px;
  margin-right: 0px;
}

.nav-line {
  margin-top: 34px;
  height: 3px;
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #cc0c2f;
}

.logo {
  margin-top: -40px;
  margin-left: 45px;
  height: 115px;
  width: 100px;
  position: fixed;
  background-color: blue;
}

p {
  font-family: Verdana, Geneva, sans-serif;
  color: #ca8f42;
}

/*--------------------------------------*/

/* hero image */

.hero {
  margin: 0 auto;
  position: relative;
}

img {width:100%}

body {
  /*padding: 10px 50px 200px;*/
  background-color: black;
  background-size: 100%
}

/*--------------------------------------*/

/* main content */

#content-wrapper {
  width: 700px;
  margin: 0 auto;
  padding: 15px;
  background-color: black;
}

/*--------------------------------------*/

/* misc styles */

.spacer {
  width: 100%;
  height: 50px;
}

/*@media screen and (max-width:680px){
.nav {font-size: 0.8rem}
}

@media screen and (max-width:540px){
.nav {font-size: 0.7rem}
}*/
